/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


/* Styling the header of the summary block */

.cplc-summary-block {
    background-color: #fff;
    padding: 26px 18px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0px 4px 11px 2px rgba(6, 8, 9, .16);
    max-width: 536px;
    margin: 0 auto 18px auto;
}

.cplc-summary-block_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.cplc-logo {
    margin-bottom: 15px;
    text-align: center;
}

.cplc-heading-text {
    margin-bottom: 34px;
}

.cplc-summary-block_header_month {
    background-color: #0188d0;
    padding: 1px 16px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    height: 27px;
}

#cplc-results {
    display: none;
}

span.cplc-month {
    font-size: 15px;
}

.cplc-summary-block_header_monthly_pay {
    color: #0188d0;
    font-weight: 900;
    font-size: 28px;
}

.cplc-summary-block_body {
    display: flex;
    justify-content: space-between;
}

.cplc-summary-block_body_interest_rate h5,
.cplc-summary-block_body_interest_amount h5,
.cplc-summary-block_body_total_payment h5 {
    font-size: 16px;
}

.cplc-summary-block_body_interest_rate p,
.cplc-summary-block_body_interest_amount p,
.cplc-summary-block_body_total_payment p {
    font-size: 15px;
    font-weight: 600;
}

.cplc-body-section,
.cplc-header-section {
    display: flex;
    flex-direction: column;
}

.cplc-text-center {
    text-align: center;
}

.cplc-input-text {
    text-align: center;
}

.cplc-container {
    padding: 68px 31px;
    margin: 15px auto;
    max-width: 720px;
    background-color: #fff;
    font-family: sans-serif;
}

button#cplc-launch-prequalify-modal {
    background-color: #0188d0;
    color: #fff;
    border-radius: 4px;
    text-transform: capitalize;
    font-weight: 500;
    width: 283px;
    margin: 0 5px;
    padding: 4px 16px;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

button#cplc-launch-prequalify-modal:hover {
    background-color: #0188d0db;
}

.cplc-footer-section {
    text-align: center;
}

.cplc-loan-calculator p.cplc-small-text {
    font-size: 15px;
}

.cplc-footer-sub-text {
    max-width: 559px;
    border-top: 1px solid #dadada;
    padding-top: 10px;
    margin: 0 auto;
}

.cplc-mt-small {
    margin-top: 10px;
}

.cplc-mb-small {
    margin-top: 10px;
}

.cplc-mb-medium {
    margin-bottom: 25px;
}

.cplc-mt-medium {
    margin-bottom: 25px;
}

.cplc-input-field {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.cplc-input-field input#cplc-amount-input {
    width: 179px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.cplc-input-field .cplc-label {
    display: none;
    margin-right: 20px;
    line-height: 52px;
}

div#cplc-error-messages {
    color: #f10000;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
}

.cplc-footer-button {
    display: none;
}

#cplc-loading-shimmer {
    display: none;
}

.cplc-loading-shimmer .cplc-summary-block {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    background: #f6f7f9;
    background-image: linear-gradient(to right, #f6f7f9 0%, #e9ebee 20%, #f6f7f9 40%, #f6f7f9 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    height: 104px;
    position: relative;
}

.cplc-loading-shimmer .cplc-summary-block_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.cplc-loading-shimmer .cplc-monthly-amount {
    width: 86px;
    background-color: #fff;
    display: inline-block;
    height: 20px;
}

.cplc-loading-shimmer .cplc-summary-block_header_month {
    width: 75px;
    background-color: #9fcbe2;
    display: inline-block;
    height: 20px;
}

.cplc-loading-shimmer .cplc-summary-block {
    padding: 26px 18px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px #cacaca;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 16px;
}

.cplc-loading-shimmer .cplc-summary-block_body {
    display: flex;
    justify-content: space-between;
}

.cplc-loading-shimmer .cplc-summary-block_body .cplc-summary-block_body_interest_rate h5,
.cplc-loading-shimmer .cplc-summary-block_body_interest_amount h5,
.cplc-loading-shimmer .cplc-summary-block_body_total_payment h5 {
    width: 55px;
    background-color: #fff;
    display: inline-block;
    height: 8px;
}

.cplc-loading-shimmer .cplc-summary-block_body .cplc-summary-block_body_interest_rate p,
.cplc-loading-shimmer .cplc-summary-block_body_interest_amount p,
.cplc-loading-shimmer .cplc-summary-block_body_total_payment p {
    width: 50px;
    background-color: #fff;
    height: 8px;
    margin-top: 10px;
}

section.cplc-loading-shimmer {
    padding: 12px;
    max-width: 553px;
    height: 374px;
    margin: 0 auto 0 auto;
    background-color: #fff;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}


/* Dynamic Background colors */

.cplc-summary-block_header_month.cplc_bg_12 {
    background-color: #0273bd;
}

span.cplc-monthly-amount.cplc_text_12,
span.cplc-month.cplc_text_12 {
    color: #0273bd;
}

.cplc-summary-block_header_month.cplc_bg_6 {
    background-color: #37a6ef;
}

span.cplc-monthly-amount.cplc_text_6,
span.cplc-month.cplc_text_6 {
    color: #37a6ef;
}

.cplc-summary-block_header_month.cplc_bg_18 {
    background-color: #f9861a;
}

span.cplc-monthly-amount.cplc_text_18,
span.cplc-month.cplc_text_18 {
    color: #f9861a;
}

.cplc-summary-block_header_month.cplc_bg_24 {
    background-color: #19a200;
}

span.cplc-monthly-amount.cplc_text_24,
span.cplc-month.cplc_text_24 {
    color: #19a200;
}

p.cplc_zero_interest {
    font-size: 22px;
    font-weight: 900;
    color: #00a200;
}

.cplc-paybright-container p {
    display: none;
}